<% content_for :title do %>Volunteer Registration<% end %>
<div id="volunteer_form">
	<h1>Volunteer for the Festival</h1>

  <h2>Philadelphia International Dragon Boat Festival – Volunteer Form
    </h2>      
    <div class="notice">You must be at least 12 years of age to volunteer</div>
    <br/>
    <p>Please fill in all of the required fields:</p>
         
         <% form_for :volunteer, :url => { :action => 'create' }, :html => { :multipart => true } do |f| %>
         <%= render :partial => 'form', :locals =>{:f=>f} %>
         
         <p>  <span id="required">*</span>-Required</p>

         <div id="buttons">
            <%= submit_tag  "Submit your volunteer application"%>&nbsp;&nbsp;<%= link_to("Cancel", "/" ) %>
           
          </div>
          <%end%>
  </div>       