<% content_for :title do %>Volunteer Registration : Thank you page<% end %>
<div>
    <h2>Thanks <%=@volunteer.person.name%>!</h2>
    <p>Thank you for offering to donate your time to the festival! We will be contacting you shortly about your volunteer duties and meeting times.</p>
</div>       