<% content_for :title do %>Volunteer Registration : Thank you page<% end %>
<div>
    <h2>Dear, <%=@volunteer.person.name%>!</h2>
    <p>Thank you for donating your time for this worthy event! We will be contacting you shortly about your volunteer duties and meeting times.</p>
</div>       