<p>
 <div class="instructions">
  <%= render :comatose=>'practice-form-launch-driver-field-instructions', :silent=>true %>
 </div>
  <label for="practice_launch_driver">Launch Driver</label><br/>
	<%= f.text_field :launch_driver, :size=>25%>
</p>
<p>
 <div class="instructions">
  <%= render :comatose=>'practice-form-steers-person-field-instructions', :silent=>true %>
 </div>
  <label for="practice_steers_person">Steersperson</label><br/>
	<%= f.text_field :steers_person, :size=>25%>
</p>