<%= link_to 'New event', admin_new_event_path %> |
<%= link_to 'Calendar', admin_events_path(:view => "calendar") if @view == "list"%>
<%= link_to 'List', admin_events_path(:view => "list") if @view == "calendar"%>
