<% content_for :title do %>Enter your confirmation code<% end %>
<h1>Enter your confirmation code to continue</h1>
<div class="instructions">
	<%= render :comatose=>'confirmation-code-instructions', :silent=>true %>
</div>
  <div>
    <% form_tag team_confirm_form_path do -%>
    <p  class="required">
        <label for="url_code">Confirmation Code</label><span id="required">*</span><br/>
        <%= text_field_tag 'url_code',"",:size=>50 %></p>
     </p>        
        <%= submit_tag  "Enter"%>
      <%end%>
  </div>