<h1>Editing Event</h1>

<%= error_messages_for :event %>

<% form_for(:event, :url => admin_event_path(@event), :html=>{:method=>:put}) do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<span id="required">*</span>-requered <br/>
<%= f.submit "Update" %>
<% end %>
  
<%= link_to 'Back', admin_events_path %>