<li class="block1">|</li>
<li <%= "class=\"current\"" if url =~/(teams|paddlers)/ %>><%=link_to "Teams", admin_teams_url%></li>  
<li <%= "class=\"current\"" if url =~/(volunteers)/ %>><%=link_to "Volunteers", admin_volunteers_url%></li>