        <li class="block1">|</li>
        <li><%=link_to "Home", admin_index_url %></li>
        <li><%=link_to "Pages", comatose_admin_url%></li>
        <li><%=link_to "Snippets", admin_snippets_index_url%></li>
        <li><%=link_to "News", admin_news_contents_url%></li>
        <li><%=link_to "Images", admin_images_url %></li>
        <li><%=link_to "Files", admin_files_url%></li>
        
        
        
    
        