<%= link_to 'All', admin_orders_path(:view_clear=>1) %>
<%= link_to 'PROCESSED', admin_orders_path(:view=>'processed') %>
<%= link_to 'FAILED', admin_orders_path(:view=>'failed') %>

<%= link_to 'Orders-CSV', admin_orders_processed_to_csv_path%>

