<% content_for :title do %>Team Member Home : Show Team Member<% end %>
<div>
  <%= render :partial => 'team/website/submenu/menu'%>
</div>
<h1>Team Member Detail Info</h1>
<%= render :partial => 'member/members/member'%>

<%= link_to 'Back', team_members_path%>
