  <%if p.children.size >0 %>
  <li><%=link_to p.title_titleize, p.uri, :class=>"hide"%>

    <!--[if lte IE 6]>
    <a href="<%=p.uri%>"><%=p.title_titleize%>
    <table><tr><td>
    <![endif]-->

		<ul>
		<%p.children.each do |c|%>
                 <%= render :partial=>'partials/child_menu', :locals=>{ :p=>c } %>    
                <%end%>
		</ul>

	<!--[if lte IE 6]>
	</td></tr></table>
    </a>
    <![endif]-->
  </li>
  <%else%>
    <li><%=link_to p.title_titleize, p.uri%></li>
  <%end%>