<% url = controller.controller_path %>

    
    <div id="mainMenu">
      <ul class="tabs">
        <li><%=link_to "Home", member_index_url %></li>
        <li><%=link_to "Boat Register" %></li>
        <li><%=link_to "Orphaned Paddlers", member_paddlers_path %></li>
        
      </ul>
    </div>          
    