 <li><%=link_to name, url, :title=>title, :class=>"hide"%>

<!--[if lte IE 6]>
<%=link_to name, url, :title=>title%>
<table><tr><td>
<![endif]-->

<!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->

</li>