 <li><%=link_to name, url, :title=>title, :class=>"hide"%>

<!--[if lte IE 6]>
<a href="<%=url%>" title="<%=title%>"><%=name%>
<table><tr><td>
<![endif]-->

<!--[if lte IE 6]>
</td></tr></table>
</a>
<![endif]-->

</li>