<div id="step_list">
  <ul>
  <li class="<%=s1%>">Step 1: Create Account</li>
  <li class="<%=s2%>">Step 2: Enter Boat Details</li>
  <li class="<%=s3%>">Step 3: Add Extras</li>
  <li class="<%=s4%>">Step 4: Payment Details</li>
  <li class="<%=s5%>">Step 5: Verify Details</li>
  <li class="<%=s6%>">Registration Complete</li>
  </ul>
</div>

