/* @override 
	http://www.phillydragonboat.info/stylesheets/errors_box.css?1231766162
	http://phillydragonboat.info/stylesheets/errors_box.css?1231766162
*/

/* Rails */
.fieldWithErrors {
  border: 1px solid red;
  display: inline-table;
}

#errorExplanation {
  width: auto;
  border: 1px solid #F7B8BA;
  padding: 5px;
  margin: 0 0 0px 0px;
  font: normal 11px 'Verdana', sans-serif; 
  color: #474747;

}

#errorExplanation h2 {
  text-align: left;
  padding: 7px 5px 7px 15px;
  font: bold 11px 'Verdana', sans-serif; 
  margin: -6px;
  background-color: #E31319;
  color: #FEF3F3;
  border: 1px solid #E31319;
}

#errorExplanation p {
	background-color: #F11;
  color: #FFF;
  margin-bottom: 0;
  margin: 0;
  padding: 5px;
  font-size: 14px;
}

#errorExplanation ul li {
  font: normal 11px 'Verdana', sans-serif; 
  list-style: disc;
}