body {
    background-color:#FFFFFF;
    padding-top: 0;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: #000000;
    font: normal 12px 'Verdana', sans-serif;
    }

a {color:#393537;}
h1 {font-size:18px;}
#required {color:red;}
#msg {
    margin: 10px 10px 10px 20px;
    padding: 5px 0 5px 10px;
    font: bold 12px 'Verdana', sans-serif;
    background: #F9F7F3;
    color: #FF6633;
    width: 790px;
    }
img {border:0px;}
/*Header*/
#header { height: 162px; background: url(/images/top_line.gif)  repeat-x bottom;}
img#pdb_logo { 
            height: 157px; 
            width:327px; 
            border:0px; 
            margin-top:3px;
            margin-bottom:2px;    
        }
#header div#pdb_logo {width:347px; height: 162px;  float:left;}
#header div#user_panel {height: 122px; text-align:right;}
#header div#main_nav {height: 40px; vertical-align : bottom;}

/*User Panel*/
#user_panel a {color:#F7941D; text-decoration: underline;}

/* Content */
#content {height: 500px;}

/* Footer */
#footer { height: 50px; background: url(/images/top_line.gif)  repeat-x top; padding-top:10px;}

/* News Sevtion*/
#content div#news_section {height: 100%; width:220px; float:left; 
                    background: url(/images/vert_line_grey.gif)  repeat-y right; 
                    padding-right:15px; font-size:11px;}
#content div#news_section h1 {color:#fff; background:#000000; text-transform : uppercase; margin-top: 0px; margin-bottom: 16px; padding-left: 10px;}
#content div#news_section div.news_block { color: #959595;}
#content div#news_section div.news_block h2 { font-size: 14px;  background: url(/images/arrow_grey.gif)  no-repeat left; padding-left:20px;}
#content div#news_section div.news_block h2 a { color: #000; text-decoration: none }
#content div#news_section div.news_block div#date {}
/* Main Content */
#content div#main {  position:relative; display:block;  overflow:hidden; border: 1px solid red; padding-left:25px; padding-right:25px;}  
#content div#main h2 {
    color: #5E8078;
    font: normal 20px 'Veranda', sans-serif; 
    margin: 15px 30px;
    }    
   

/* Main Menu */
#mainMenu {
    clear: both;
    margin: 0 10px 9px 0;
    height: 50px;
    }
#mainMenu ul.tabs {
    margin:0;
    padding:0;
    list-style:none;
    height: 34px;
    width: 99%;
    float: left;
    }
#mainMenu ul.tabs li {
    display: block;
    padding: 0 10px 0 2px;
    margin: 0;
    height: 34px;
    float: left;
    }
/**Main Submenu**/
#main_submenu  {width:250px; height: 1800px; display: block; 
                border: 1px solid #C3C9BD; float: left; margin-right:10px;
                background-color:#F35F17; color:#ffffff;
            }

#main_submenu a {color:#ffffff;text-decoration: none;}
#main_submenu ul { list-style:none;  padding-left:20px; font-size:14px;  }
#main_submenu ul li {


    }

/* Login form */

/* Main menu */
#main_menu a {color:#9999AF; text-decoration: none;}

/* Path*/
#path {background-color:#F35F17; color:#ffffff; border:1px #ffffff solid;}
#path a {color:#ffffff; text-decoration: none;}

div.for_printing, table.for_printing {display:none}
img.for_printing {position:absolute; top:-3000px;}

/**News Block**/
.news_block div{
  display:table; 
  line-height:normal;
  font-weight: normal;

}

.news_block h1 { margin:0px 0px 10px 0px; font-size:18px;  padding:0px 0px 10px 0px;}



img.cover {float:left; margin-right:5px; margin-bottom:5px;}
.news_block #date {color:#9999AF; padding: 0 4 6 0}

.clearEm {
  clear: both;
}
.notice {font-size:12px; font-style :italic; font-stretch : extra-condensed; margin:0 0 5 0;}
#numbered  {list-style-type : decimal; display : block; margin-left:250px;}
#numbered li {padding:3px;}

#none  {list-style-type : none; display : block; margin-left:230px;}
#none  li {padding:3px;}

/**Volunteer Form**/
#volunteer_form table.person td {padding:0px 5px 5px 0px;}
#volunteer_form table.person td.notRequired {padding-left:12px;}
#volunteer_form input.fixed {width:400px;}
#volunteer_form input#person_phone  {width:345px;}
#volunteer_form input.small {width:150px;}
#volunteer_form label {font-weight : bold;}

#volunteer_form #volunteer_note {width:515px;}

#buttons input, button {display:inline;}



#logo {float:left; widht:50px; height:50px; margin-bottom:5px; margin-right:5px;}

/* Table Item List*/
table.item_list {border: 1px #DDD solid; width: 100%;}
table.item_list td {vertical-align: top;}
table.item_list  th {
  background-color:#8faebe;
  border-bottom:1px solid #05303c;
  padding:2px 0px 2px 5px;
  vertical-align:middle;
  font-weight:bold;
}

LEGEND {
  font-weight: bold;
  color:  #62669A;
}

/* SUB Menu */
#subMenu {
    clear: both;
    margin:2px;
    height: 25px;
    }
#subMenu ul.tabs {
    margin:0;
    padding:0;
    list-style:none;
    height: 34px;
    width: 740px;
    float: left;
    }
#subMenu ul.tabs li {
    display: block; 
    padding: 0 2px 0 2px;
    margin: 0;
    height: 34px;
    float: left;
    font-weight:normal;   
    }
#subMenu ul.tabs li a {padding:2px;}
#subMenu ul.tabs li.current a {
    color:#fff;
    background: url(/images/tabBgCurrent.png) repeat-x 0 0;
    padding:2px;
    }
      
 .note { height: 50px;   overflow: auto; border: 1px solid silver;}
 .clearEm {
  clear: both;
}
/* Confirmed Box*/
.confirmed_box {
  border: 1px solid grey;
  width: 80%;
  display: inline-table;
  padding:10px;
}
/*Order Steps*/
#step_list ul{
    margin:0;
    padding:0 5 0 0;
    list-style:none;

    width: 250px;
    float: right;
    font-size:11px;
}
#step_list .next {background-color:white;}
#step_list .current {background-color:yellow;}
#step_list .previous {color:grey;}

#ticket-list ul {
    margin:0;
    padding-left:15px;
    list-style:none;
    width: 600px;
}
#ticket-list li {  list-style:none; }
#ticket-list h1 {  font-size:12px; font-weight:normal; color: #5D5D5D; padding:0px; }
#ticket-list div#answer {background-color:#E1E1E1; width: 600px; padding:3px; margin-top:3px;}
#ticket-list div#answer i {color:#F35F17}
#ticket-list div#date, div#right {float:right; font-size:11px; color: #020239;}
#ticket-list div#from {padding-top:5px; color:blue;}

