/*Order Steps*/
#step_list ul {
    margin:0px;
    padding-right:0px;  padding-left:0px;
}

img#pdb_logo { 
            height: 159px; 
            width:327px; 
            border:0px; 
            margin-top:3px;
            margin-bottom:0px;   
            white-space: nowrap; 
        }
        
#header { 
	height: 159px; 
	background: url(/images/top_line.gif)  repeat-x 0px 159px;
	border: 0px solid blue;
	background-color: white;
}


#header_side{

  float: right;
  width: 600px;
	border: 0px solid red;
	margin:0px;
	padding:0px;

}

#header div#user_panel {
	border: 0px solid green; 
	text-align:right;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left:0px;
	margin-right: 10px;
	padding:0px;

	}

#header div#banner{
  border: 0px solid red;
  margin-top: 0px;
  margin-bottom: 0px;
}


#header div#main_nav {
	background-color: #EEE;
	margin-top: 0px;
	height: 18px; 
	vertical-align : bottom;
	border: 0px solid green;

	}





#page_list  li a.hide, #page_list ul li a:visited.hide {display:none;}



#content div#main { min-width:900px;}  

#content table#main {
		height:100%; width:100%;  
		background-color:#fff; 
		margin:0px; 
		padding:0px;}

#content table#main td {vertical-align:top;}



#separator {display:none; clear:both; height:1px; margin:0px; padding:0px; background-color:red; width:100%;}



#main {margin-top:20px;}

#step5 table.box, #step3 table.box  {width: 310px;}
#step5 table.big-box {width: 310px;}
#step5 table,#step3 table{margin-bottom:15px;}


#step5 table.box{ 
border: 1px solid #DDD; margin: 20px 0px 0px 0px; padding: 10px;background-color:#FCFCFC; width:100%;
}
#step5 table.box td { padding-left: 10px; padding-right: 10px;}
#step5 .padding_all { padding: 10px;}

#step5 table.box a, #step5 table.box a:hover {
	font-size: 11px; 
	padding-left:20px; 
	padding-right:20px; 
	padding-bottom:5px; 
	padding-top:5px; 
	background-color:#EEE;
	color: #000;
	border:1px solid #AAA;
	font-weight:bold; }

#step5 table.box a:hover {
	background-color: #CCC;
	}

#boat_list a:hover  div.team{
	border: 1px solid #AAA;
}

table td.specialDay-available a{
  
  font-weight: bold;
  font-size: 14px;
  padding: 0.7em 1em;
  
  color: #000;
}