/* @override 
	http://www.phillydragonboat.info/stylesheets/main.css?1231519225
	http://www.phillydragonboat.info/stylesheets/main.css?1231542401
	http://www.phillydragonboat.info/stylesheets/main.css?1231543410
*/

body {
    background-color:#FFFFFF;
    padding-top: 0;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: #000000;
    font: normal 12px 'Verdana', sans-serif;
    width: 1020px;
    }

a {color:#393537; text-decoration: none;}
a:hover {color:#393537; text-decoration: underline;}
h1 {font-size:22px; color:#000; font-weight:bold;}
h2 {font-size:14px; color:#000;font-weight:bold;}
h3 {font-size:12px; color:#F7941D;font-weight:bold;}
h4 {font-size:14px; font-weight:bold;}

#required {color:red;}
#msg {
    margin: 10px 10px 10px 20px;
    padding: 5px 0 5px 10px;
    font: bold 12px 'Verdana', sans-serif;
    background: #F9F7F3;
    color: #FF6633;
    width: 790px;
    }
img {border:0px;}
/*Header*/
#header { height: 162px; background: url(/images/top_line.gif)  repeat-x bottom; }
img#pdb_logo { 
            height: 159px; 
            width:327px; 
            border:0px; 
            margin-top:3px;
            margin-bottom:0px;    
        }
#header div#pdb_logo {width:347px; height: 162px;  float:left;}
#header div#user_panel { text-align:right;margin-top: 10px;margin-right: 10px;}

#header div#banner{
  border: 0px solid red;
  float: right;
  margin-top: 8px;
  margin-bottom: 5px;
}

#header div#banner img{ 
	margin: 0px; border-top:2px solid black;border-bottom:2px solid black; }

#header div#main_nav {height: 40px; vertical-align : bottom;}

/*User Panel*/
#user_panel a {color:#F7941D; text-decoration: underline;}

/* Content */
#content {min-height:500px; height: 100%; overflow: visible; margin-left:12px; margin-bottom:0px; background-color: #fff; }

/* Footer */
#footer { height: 50px; background: url(/images/top_line.gif)  repeat-x top; padding-top:10px;}
#footer div {font-size:13px; font-weight:bold; text-align:right;}

/* News Sevtion*/
#content div#news_section {height:100%; width:220px; float:left; 
                    background: url(/images/vert_line_grey.gif)  repeat-y right; 
                    padding-right:15px; font-size:11px; 
                    background-color: #fff;       
                }
#content div#news_section div#news_block {padding-bottom:15px;  background: url(/images/news_line.gif)  repeat-x bottom; }
#content div#news_section h1 {color:#fff; background:#000000; text-transform : uppercase; margin-top: 0px; margin-bottom: 16px; padding-left: 10px;}
#content div#news_section div.news_block { color: #959595;}
#content div#news_section div.news_block h2 { margin-bottom:5px; font-size: 14px;  background: url(/images/arrow_grey.gif)  no-repeat left top; padding-left:20px;}
#content div#news_section div.news_block h2 a { color: #000; text-decoration: none }
#content div#news_section div.news_block #date {color:#F7941D; font-weight:bold; margin-top:10px;}
#content div#news_section div.news_block a.to_full {color: #959595; text-decoration: none;}

/* Home */
#home-left{
	float: left; width: 300px;
}

#home-right{
  width: 400px;
}

.home-icon{

  clear: both;
  margin-bottom: 15px;
  border: 0px solid red;
}

.home-icon{
}
.home-icon a:hover{
text-decoration: none;
}

.home-icon h2{
margin-top: 0px;
}

.home-icon img{
	border: 1px solid black;
  float: left;
  margin-right: 10px;
}

.home-icon span{
  clear: both;
}

.home-icon div{
height: 115px;
}

#home-right{
  float: left;
  margin-left: 20px;
}

#home-right .home-icon.register{
height: 245px;
}

/* Main Content */
#content div#main { color:#000000;min-height:500px;height:100%; background-color: #fff; position:relative; display:block;  overflow:hidden; border: 0px solid red; padding-left:25px; padding-right:25px; padding-bottom:25px;}  
    
/* Breadcrumbing Area */
#breadcrumbing_area {min-width:800px; height: 30px;  display:block;  overflow:hidden; margin-left:12px;}
#breadcrumbing_area h1{margin:0px; padding-top:5px;  padding-left:15px; height: 32px; background-color: #000; color: #fff; font-size:14px; font-weight:bold;}
#breadcrumbing_area a {color: #fff; text-decoration: none;}

/*Submenu Section*/
#content div#submenu_section {height: 100%; width:220px; float:left; 
                    background-color: #F7941D; 
                    padding-right:15px; font-size:12px;        
                }                
/*Order Steps*/
#step_list ul {
    margin:0 10 0 10;
    padding-top:5px;  padding-bottom:5px; padding-right:0px;  padding-left:5px;
    list-style:none;
    font-size:13.5px;
    font-weight: bold;
    color: #fff;
}
#step_list li{ padding-left:5px; padding-right:5px;  padding-bottom:3px;}
#step_list .next {background-color:#F7941D;}
#step_list .current {background-color:#fff; color:#F7941D;}
#step_list .previous {color:#ccc;}

/*Page-list*/
ul#page_list, #page_list ul {
    margin-left:10px;
    list-style:none;
    padding:0px;
}
ul#page_list{
    margin-left:0px;
}
#page_list li{ list-style:none; padding-top:2px;  padding-bottom:2px; padding-right:0px;  padding-left:2px;}
#page_list a {  padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; width:100%; text-transform : capitalize; color: #fff;font-size:13px;font-weight: bold; text-decoration: none;  }
#page_list #current {background-color:#fff; color:#F7941D; }
#page_list a:hover {background-color:#fff; color:#F7941D;}
#separator {clear:both; height:1px; margin:0px; padding:0px; width:100%;}
label {font-weight:normal;}
.required label {font-weight:bold;}
/* Main Menu */
#mainMenu {
    clear: both;
    margin: 0 10px 9px 0;
    height: 50px;
    }
#mainMenu ul.tabs {
    margin:0;
    padding:0;
    list-style:none;
    height: 34px;
    width: 99%;
    float: left;
    }
#mainMenu ul.tabs li {
    display: block;
    padding: 0 10px 0 2px;
    margin: 0;
    height: 34px;
    float: left;
    }
/**Main Submenu**/
#main_submenu  {width:250px; height: 100%; display: block; 
                border: 1px solid #C3C9BD; float: left; margin-right:10px;
                background-color:#F35F17; color:#ffffff;
            }

#main_submenu a {color:#ffffff;text-decoration: none;}
#main_submenu ul { list-style:none;  padding-left:20px; font-size:14px;  }
#main_submenu ul li {


    }

/* Login form */

/* Main menu */
#main_menu a {color:#9999AF; text-decoration: none;}

/* Path*/
#path {background-color:#F35F17; color:#ffffff; border:1px #ffffff solid;}
#path a {color:#ffffff; text-decoration: none;}

div.for_printing, table.for_printing {display:none}
img.for_printing {position:absolute; top:-3000px;}

/**News Block**/
.news_block div{
  display:table; 
  line-height:normal;
  font-weight: normal;

}

.news_block h1 { margin:0px 0px 10px 0px; font-size:18px;  padding:0px 0px 10px 0px;}



img.cover {float:left; margin-right:5px; margin-bottom:5px;}
.news_block #date {color:#9999AF; padding: 0 4 6 0}

.clearEm {
  clear: both;
}
.notice {font-size:12px; font-style :italic; font-stretch : extra-condensed; margin:0 0 5 0;}
#numbered  {list-style-type : decimal; display : block; margin-left:250px;}
#numbered li {padding:3px;}

#none  {list-style-type : none; display : block; margin-left:230px;}
#none  li {padding:3px;}

/**Volunteer Form**/
#volunteer_form table.person td {padding:0px 5px 5px 0px;}
#volunteer_form table.person td.notRequired {padding-left:12px;}
#volunteer_form input.fixed {width:400px;}
#volunteer_form input#person_phone  {width:345px;}
#volunteer_form input.small {width:150px;}
#volunteer_form label {font-weight : bold;}

#volunteer_form #volunteer_note {width:515px;}

#buttons input, button {display:inline;}



#logo {float:left; widht:50px; height:50px; margin-bottom:5px; margin-right:5px;}

/* Table Item List*/
table.item_list {border: 1px #DDD solid; width: 100%;}
table.item_list td {vertical-align: top;}
table.item_list  th {
  background-color:#8faebe;
  border-bottom:1px solid #05303c;
  padding:2px 0px 2px 5px;
  vertical-align:middle;
  font-weight:bold;
}

LEGEND {
  font-weight: bold;
  color:  #62669A;
}

/* SUB Menu */
#subMenu {
    clear: both;
    margin:2px;
    height: 25px;
    }
#subMenu ul.tabs {
    margin:0;
    padding:0;
    list-style:none;
    height: 34px;
    width: 740px;
    float: left;
    }
#subMenu ul.tabs li {
    display: block; 
    padding: 0 2px 0 2px;
    margin: 0;
    height: 34px;
    float: left;
    font-weight:normal;   
    }
#subMenu ul.tabs li a {padding:2px;}
#subMenu ul.tabs li.current a {
    color:#fff;
    background: url(/images/tabBgCurrent.png) repeat-x 0 0;
    padding:2px;
    }
#subMenu ul.tabs li.frozen a {color:#ccc;}
 .note { height: 50px;   overflow: auto; border: 1px solid silver;}
 .clearEm {
  clear: both;
}
/* Confirmed Box*/
.confirmed_box {
  border: 1px solid #ccc;

  padding:10px;
}

#ticket-list ul {
    margin:0;
    padding-left:15px;
    list-style:none;
    width: 600px;
}
#ticket-list li {  list-style:none; }
#ticket-list h1 {  font-size:12px; font-weight:normal; color: #5D5D5D; padding:0px; }
#ticket-list div#answer {background-color:#E1E1E1; width: 600px; padding:3px; margin-top:3px;}
#ticket-list div#answer i {color:#F35F17}
#ticket-list div#date, div#right {float:right; font-size:11px; color: #020239;}
#ticket-list div#from {padding-top:5px; color:blue;}

/*Tent Positions*/
#tents_graphic {float:left; widht:412px; height:2040px; margin-right: 10px; margin-bottom: 6260px }
#tent_positions_list { position:relative; display:block;  overflow:hidden; border: 0px solid red; padding-left:25px; padding-right:25px; padding-bottom:25px;} 
#tent_positions #available, #tent_positions #reserved, #tent_positions #current_reserved {
	border: 1px solid #ccc; text-align:center; 
	width: 150px; padding-top:5px; padding-bottom:5px;       
}
#tent_positions a {padding-left:55px; padding-right:55px; padding-top: 10px; padding-bottom: 10px;}
#tent_positions a:hover {border:1px solid black; }

#tent_positions #available { background-color:#99DB99;  }
#tent_positions #reserved { background-color:#cccccc;   color: red; }
#tent_positions #current_reserved { background-color: #9393FF; }

.mon_sep {padding-left:51px; }
.day_sep {padding-left:8px; }

#step5 h4, #step3 h4 {font-size:14px; color:#000; text-transform : uppercase; }
#step5 div.left, #step3 div.left {float:left; widht:50%; margin-right:50px;}
#step5 table.box {width: 325px;}
#step5 table.big-box {width: 350px; font-size:14px; font-weight:bold;}
#step5 table.big-box td {padding-bottom: 3px; padding-top: 3px;}
#step5 table.big-box tr.total {background-color:#cccccc;}
#step5 table.box a {font-size: 11px; padding-left:10px; padding-right:10px; padding-bottom:3px; padding-top:3px; background-color:#cccccc;   color: #fff;}
#step5 .notice {font-size:11px; font-style  : normal; }

#step3 .header {font-size:18px; color:#000; text-transform : uppercase; }
#step3 table.box {width: 325px; font-size:14px; text-align:left;}
#step3 table.box th {font-size:16px;}
#step3 table.box td {padding-bottom: 3px; padding-top: 3px;}
#step3 .notice  {font-size:12px; color: grey; height: 60px;}
#step3 ul {list-style-type : none; display : block; margin-left:0px; padding:0px;}
#step3 ul li {padding:3px;}
#step3 #total { width: 300px; font-size:14px; background-color:#cccccc;  padding-top:5px; padding-bottom:5px; font-weight:bold; margin-right:50px;}