/*Order Steps*/
#step_list ul {
    margin:0px;
    padding-right:0px;  padding-left:0px;
}

img#pdb_logo { 
            height: 159px; 
            width:327px; 
            border:0px; 
            margin-top:3px;
            margin-bottom:0px;   
            white-space: nowrap; 
        }
#header { height: 162px; background: url(/images/top_line.gif)  repeat-x 0px 159px; }

#content div#main { min-width:900px;}  
#content table#main {height:100%; width:100%; background:#ffff;}
#content table#main td {vertical-align:top; background:#ffff;}
#header div#user_panel {height: 119px; text-align:right;}
#header div#main_nav {height: 43px; vertical-align : bottom;}




#page_list  li a.hide, #page_list ul li a:visited.hide {display:none;}


