body{margin:0 0 0 0; padding:0 0 0 0;}
div{display:none}

th input[type="checkbox"] {display:block}
td input[type="checkbox"] {display:block}


div.to_print{display:block}

div.for_printing{display:block}
img.for_printing {position:relative; top:0px;display:block; margin:0; padding:0; margin-left: 5pt; }/*{position:relative; top:0px; left:0px;}*/
table.for_printing {
        border-left:0; border-right:0; border-top:0;
        width:500; 
        border-bottom: 1px solid #000000;}
table.for_printing td, table.for_printing th{white-space:nowrap; text-align:left; vertical-align:middle; border:0; }
table.for_printing th{width:100%}

td#align {text-align:center;}
td#align *{margin-right:auto;  margin-left:auto; }

