<p>Team Name: <%=@team.human_name%></p>
<p>Team Biography: <%=h @team.description%></p>
<%@person = current_user.person %>
<p>Captain: <%=@person.name%></p>
<p>Price: <b><%=number_to_currency @team.price%></b></p>