<p>Name: <%=h @team.name%></p>
<p>Description: <%=h @team.description%></p>
<%@person = current_user.person %>
<p>Captain: <%=@person.name%></p>
<p>Price: <b><%=number_to_currency @team.price%></b></p>