<% content_for :title do %>Boats List<% end %>

<% content_for :breadcrumbing_area do %>
<h1>Select Boat</h1>
<% end %>

<div id="boat_list">
 <table class="box">
  <tr>
    <td><h2>Boats</h2></td>
  </tr>

  <% @teams.each do |team|%>
   <tr>
     <td class="specialDay-current_reserved"><%=link_to team.name,  member_boat_url(team)%></td>
   </tr>
   <%end%>
   </table>
</div>
  