<% content_for :title do %>New Boat Registration<% end %>
<%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"previous", :s2=>"current", :s3=>"next", :s4=>"next", :s5=>"next", :s6=>"next"} %>
  <div>
 
    <fieldset>
    <legend>Step 2 from 5 - Enter Boat Details</legend>
    <% form_for :team, :url => { :action => 'create' }, :html => { :multipart => true } do |f| %>
    <%= error_messages_for :team %>
    
     <%= render :partial => 'form', :locals =>{:f=>f} %>
    
        
        <div id="buttons">
            <%= submit_tag  "Confirm"%><br/>
        </div>
    <%end%>
    </fieldset>
</div>