<% content_for :title do %>New Boat Registration<% end %>
<div>
 
    <fieldset>
    <legend>Step 2 from 5 - Enter Boat Details</legend>
    <% form_for :team, :url => { :action => 'create' }, :html => { :multipart => true } do |f| %>
    <%= error_messages_for :team %>
    
     <%= render :partial => 'form', :locals =>{:f=>f} %>
    
        
        <div id="buttons">
            <%= submit_tag  "Create"%><br/>
        </div>
    <%end%>
    </fieldset>
</div>