<% content_for :title do %>Your Receipt: <%=CGI.unescapeHTML(@team.name)%> : Team Registration<% end %>

<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>
<%@orders.each do |order|%>
<%= render :partial => 'member/order/receipt', :locals=>{:order=>order}%>
<p>---------------------------------------------------------------------</p>
<%end%>
  