<% content_for :title do %>Step 1 - Create Account<% end %>
<% content_for :breadcrumbing_area do%>
Team Registration > Step 1 - Create Account
<%end%>
<% content_for :submenu_area do%>
<span id='submenu_section_member'></span>
<%= render :partial => 'partials/order_step_list', :locals =>{:s1=>"current", :s2=>"next", :s3=>"next", :s4=>"next", :s5=>"next", :s6=>"next"} %>
<%end%>
<% content_for  :current_page_name do%>
  Create Account
<%end%>
<!-- This is a snippet being edited by admin. Snippet Name "Registration Instructions" -->
  <%= render :comatose=>'step1-instructions', :silent=>true %>
<!-- -->
 
  <%# link_to "Sign In", login_url%>

  <div>
    <% @object = @user %>  
   
          <h2>Step 1: Personal Details </h2>
        
          <% form_for :user, :url => register_user_path, :html => { :multipart => true } do |f| %>
          <%= render :partial => 'form', :locals =>{:f=>f} %>
          <div id="buttons">
              <%= submit_tag  "CONTINUE REGISTRATION"%>
          </div>
      <%end%>
  </div>