<% content_for :title do %>Account Registration<% end %>
<%= render :comatose=>'registration-instructions', :silent=>true %>

  <div>
    <% @object = @user %>  
    <h2>Account Registration</h2>      
    <h3>General Information</h3>
    <% form_for :user, :url => { :action => 'create' }, :html => { :multipart => true } do |f| %>
        <%= render :partial => 'form', :locals =>{:f=>f} %>
        <div id="buttons">
            <%= submit_tag  "Sign Up"%>&nbsp;&nbsp;
            <%= link_to("Cancel", "/" ) %> 
        </div>
    <%end%>
</div>       