<div class="evens_block">
         <h1><%=@event.name%></h1>

         <div class="event_time"><i><%=@event.start_date.strftime("%d/%m/%Y")%> <%=@event.time%></i></div>
         <div class="event_description"><%=@event.content%></div>
</div>
<%#= link_to 'Back', {:action=>:index, :mon=>@month, :year=>@year} %>