<% content_for :title do %><%=@team.name%> : Select Tents<% end %>
<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>

<h1>Select Tents</h1>
<%=image_tag "tents_graphic.jpg", :border=>"0"%>

<h2>Position List</h2>
<div id="tent_positions">
  <%= render :partial => 'tent_location'%>
</div>




