<% @person =   @paddler.person %>
 <%# error_messages_for :paddler %>
 <%= error_messages_for :person %>
<table cellpadding="1" cellspacing="1">
    <% fields_for "person", @person do |person_field| %>
    <%= render :partial => 'persons/full_form', :locals =>{:f=>person_field} %>
  <% end %>
</table>

 <p>
    <label for="paddler_note">Extra:</label><br/>
    <%= f.text_area :note, :rows=>3 %>
 </p>

        
           