<% content_for :title do %>Paddler Registration : Thank you page<% end %>
<div>
    <h2>Thanks for submitting your information <%=@paddler.person.name%>!</h2>
    <p>Team captains who need paddlers will be able to get in touch with you directly if they want to invite you to join their team.</p>
</div>       