<% content_for :title do %>Purchase Tents Complete<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Purchase Tents > Complete</h1>
<%end%>
<% content_for :submenu_area do%>
    <%= render :partial => 'partials/tents/order_step_list', :locals =>{:s1=>"previous", :s2=>"previous", :s3=>"previous", :s4=>"previous", :s5=>"previous", :s6=>"current"} %>
<%end%>
<% content_for  :current_page_name do%>
  Purchase Tents Complete
<%end%>

<h2>Thank you! You have successfully registered your tents! 
    <%= "Please proceed to #{link_to('Select your tent position', member_team_tents_path(@team.id))}." if @team.tents.size>0 %>
</h2>