<% content_for :title do %>Step 3 - Verify Details<% end %>
<% content_for :breadcrumbing_area do%>
<h1>Purchase Tents > Step 3 - Verify Details</h1>
<%end%>
<% content_for :submenu_area do%>
   <%= render :partial => 'partials/tents/order_step_list', :locals =>{:s1=>"previous", :s2=>"previous", :s3=>"previous", :s4=>"previous", :s5=>"current", :s6=>"next"} %>
<%end%>
<% content_for  :current_page_name do%>
  Verify Details
<%end%>