<% content_for :title do %>Manage Team Members<% end %>
<div>
  <%= render :partial => 'member/boats/submenu/menu'%>
</div>
<div id="member_list">
<%= render :partial => 'member_list'%>
</div>
<!-- FORM to add a new member -->
    <h2>Add a new member</h2>  
    
    <div id="inline_form">
    <%= render :partial => 'inline_form'%>
    </div>
