<p><%= @volunteer.person.name %></p>
<div><%= h @message %></div>

<p>----------------------------------------------------------------------------<br/>
If you experience any problems with the website, or need any help,<br/>
please email: support@philadragonboatfestival.com