
 <p>
   
   <label for="ticket_email">Email Address:<span id="required">*</span><br/></label>
  <%= text_field :ticket, :email, :disabled=>@user%>
  <%= image_tag('loading.gif', :id=>'loading-indicator', :style=>'display:none; float:left;margin-right:5px;') %>
</p>