<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>
      <%if @current_page_name && p = Comatose::Page.find_by_path( @current_page_name ) %>
        <%=CGI.unescapeHTML(p.title) %>
      <%else%>
        <%= yield :title %>
      <%end%>
    </title>
    <!-- Styles -->
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'redbox' %>
    <%= stylesheet_link_tag 'errors_box' %>
    <%= stylesheet_link_tag 'calendar/red/style' %>
    <%= stylesheet_link_tag 'dropdown', :media=>"all" %>
    <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'dropdown_ie', :media=>"all" %>
    <%= stylesheet_link_tag 'main_ie', :media=>"all" %>
    <![endif]-->
    
    <!-- Scripts -->
   
    <!-- for red box pligin -->
    <%= yield :scripts %>
    <%= javascript_include_tag 'redbox' %>
    <%= javascript_include_tag :defaults %>
  </head>
  
  <body>     
    <div id="header">
      <%= render :partial=>'partials/header'%>
    </div>  
    <div id="breadcrumbing_area">
      <%unless request.request_uri=="/"%>
      <h1><%=navigation_links(@current_page_name, " > ")%><%= yield :breadcrumbing_area %></h1>
      <%end%>
    </div>
   
    <div id="content">
      <!--[if lte IE 6]><table id="main" valign="top" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" background="#fff"><tr><td width="1%" id="content_td"><![endif]-->
        <%unless request.request_uri=="/"%> 
        <div id="submenu_section">
           
            <!--[if lte IE 6]>
            &nbsp;&nbsp;
            <%=javascript_tag "document.getElementById('content_td').style.background='#F7941D';"%>
            <![endif]-->
            <%=javascript_tag "document.getElementById('content').style.background='#F7941D';"%>

            <%= yield :submenu_area %> 
            <%= render :partial=>'partials/main_submenu'%>
        </div>
        <%else%>
        <%= render :partial=>'partials/news_section'%>
      <%end%>
     <!--[if lte IE 6]></td><td style='background-color:#fff;'><![endif]-->
        <div id="main" >
          <% unless request.request_uri=="/" %><h1><%= navigation_path(@current_page_name,"/")%><%= yield :current_page_name %></h1><% end %>
          
          <%if flash[:notice] && !flash[:notice].empty?%>
          <p id="notice"><%= flash[:notice] %></p>
          <%end%>
          <%= yield %> 
          </div>
        <!--[if lte IE 6]></td><tr></table><![endif]--></div>
      <div id="separator">&nbsp;&nbsp;</div>
     
      <div id="footer"><%= render :partial=>'partials/footer'%></div>
      
      
    </body>
</html>