<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title><%= yield :title %></title>
    <!-- Styles -->
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'redbox' %>
    <%= stylesheet_link_tag 'errors_box' %>
    <%= stylesheet_link_tag 'calendar/red/style' %>
    <%= stylesheet_link_tag 'dropdown', :media=>"all" %>
    <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'dropdown_ie', :media=>"all" %>
    <![endif]-->
    
    <!-- Scripts -->
   
    <!-- for red box pligin -->
    <%= yield :scripts %>
    <%= javascript_include_tag 'redbox' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div>
      <%= render :partial=>'partials/main_menu'%>
    </div>
    <div id="top">
      <%= render :partial=>'partials/header'%>
    </div>
    <div>
      <%= navigation_links(@current_page_name)  %>
    </div>
    <p style="color: green"><%= flash[:notice] %></p>
    <div id="content">
      <div id="main_submenu">
      <%= render :partial=>'partials/main_submenu'%>
      </div>
      <div>
        <h3><%= navigation_path(@current_page_name,"/")%></h3>
        <div id="main">
          <%= yield %> 
        </div>
      </div>
     </div>
      <div id="footer"></div>
  </body>
</html>