<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="noscript" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'admin' %>
    <%= stylesheet_link_tag 'redbox' %>
    <%= stylesheet_link_tag 'errors_box' %>
    <%= stylesheet_link_tag 'calendar/blue/style' %>
    <%= stylesheet_link_tag 'dropdown', :media=>"all" %>
    <!--[if lte IE 6]>
    <%= stylesheet_link_tag 'dropdown_ie', :media=>"all" %>
    <%= stylesheet_link_tag 'main_ie', :media=>"all" %>
    <![endif]-->
    <!-- Scripts -->
   
    <!-- for red box pligin -->
    <%= yield :scripts %>
    <%= javascript_include_tag 'redbox' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
  
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="header">
      <%= render :partial=>'partials/member_header'%>
    </div>  
    <div id="breadcrumbing_area">
      <%unless request.request_uri=="/"%>
      <%= yield :breadcrumbing_area %>
      <%end%>
    </div>
    
    <div id="content">
       <!--[if lte IE 6]><table id="main" valign="top" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" background="#fff"><tr><td width="1%" id="content_td"><![endif]-->
          <div id="submenu_section_member">
         
           <!--[if lte IE 6]>
           
            <%#javascript_tag "document.getElementById('content_td').style.background='#F7941D';"%>
           <![endif]-->
           <%=javascript_tag "document.getElementById('content').style.background='#F7941D';"%>
           <%=yield :submenu_area %> 
           
         </div> 
      

     
       <!--[if lte IE 6]></td><td style='background:#fff'><![endif]-->
       <%unless request.request_uri=~ /(checkouts)|(\/member\/boats\/new)|(\/add_extras)|(\/extras)/i  %>
       
       <div id="main<%="_member" if @team && @team.active?%>">
       <%else%>
       <div id="main">
       <%end%>
         <h1><%= navigation_path(@current_page_name,"/")%><%= yield :current_page_name %></h1> 
         
         <%if @team && current_user.is_captain?%>
         <%unless request.request_uri=~ /(checkouts)/i%>
         <%unless request.request_uri== "/member/boats" %>
          <h3 class="boat_name"><%= image_tag( @team.image.public_filename(:thumb), :id=>"logo" ) if @team.image && @team.active?%>  <%= @team.human_name %></h3>
          <%end%>
          <%end%>
          <%end%>  
          <%= yield :object_menu %>
          
          <% if @team && @team.image && @team.active?%>

          <%end%> 
          <%if flash[:notice] && !flash[:notice].empty?%>
          <p id="notice"><%= flash[:notice] %></p>
         <%end%>
        
         <%= yield %>
        </div>
       <!--[if lte IE 6]></td><tr></table><![endif]--></div>
      <div id="separator">&nbsp;&nbsp;</div>
     
     <div id="footer"><%= render :partial=>'partials/footer'%></div>
  </body>
</html>
